.profile{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-style: solid;
    border-color: lightgray;
    margin: 25px;
}

.preview{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}