.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-style: solid;
    border-color: lightgray;
    margin: 25px;
}

.preview {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}

.info {
    color: white;
}

.btn-edit {
    color: white;
    height: 50%;
}

.btn-follow a {
    text-decoration: none;
}

.btn-follow a h4{
    color: white;
    font-size: medium;
}

.modal-header {
    border-color: #585960;
}

.modal-content {
    background-color: #363738;
    color: white;
}

.modal-footer {
    border-top: none;
}
