<div class="p-2 pr-4 pt-3 d-flex justify-content-end">
    <div class="mr-2">
        <input type="search" class="form-control" id="searchGame" placeholder="Search Game..." autocomplete="off"
            autofocus="autofocus" (keyup)="searchGame()" (click)="searchGame()">
    </div>
</div>
<div id="menu" class="d-flex flex-wrap justify-content-center">
    <a class="m-2" [routerLink]="['/game',game.gameId]" *ngFor="let game of games">
        <div class="card">
            <div class="overflow-hidden">
                <div class="zoom">
                    <img class="" src="{{game.imageUrl}}" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card-body">
                <span class="d-inline-block text-truncate gamename">
                    {{game.name}}
                </span>
                <br>
            </div>
        </div>
    </a>
</div>