<div class="d-flex flex-wrap">
    <div class="card" *ngFor="let game of games">
        <a [routerLink]="['/game',game.gameId]">
            <div class="overflow-hidden">
                <div class="zoom">
                    <img class="" src="{{game.imageUrl}}" class="card-img-top" alt="...">
                </div>
            </div>
        </a>
        <div class="card-body">
            <span class="d-inline-block text-truncate gamename">
                {{game.name}}
            </span>
            <br>
            <!-- <div *ngFor="let tag of game.tags" class="text-truncate gamename" style="max-width: 150px;">
                <span class="badge badge-secondary">{{tag.name}}</span>
              </div> -->
        </div>
    </div>
</div>