.header{
    color: white;
}

.navbar-nav {
    flex-direction: row;
}
  
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
  
  /* Fixes dropdown menus placed on the right side */
.dropdown-menu {
    left: auto !important;
    right: 0px;
}

.navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
}

.icon {
    color: white;
}

.avatar { 
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
} 
.navbar{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}