<nav class="navbar navbar-expand-md fixed-top">
  <div class="col-md-6 col-12 container">
    <a href="" class="navbar-brand header">SGamer</a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="" [routerLink]="['/']" class="nav-link py-0">
          <svg class="bi icon" width="28" height="28" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#house-fill" />
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a href="" [routerLink]="['/message']" class="nav-link py-0">
          <svg class="bi icon" width="28" height="28" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#chat-fill" />
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link py-0" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img class="avatar" src="{{user?.imageUrl}}" alt="">
          <label class="username">{{user?.username}}</label>
        </a>

        <div class="dropdown-menu dropdown-menu-right shadow " aria-labelledby="userDropdown">
          <a class="dropdown-item" href="" [routerLink]="['/profile',user?.username]">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>