<!-- Modal -->
<div class="modal fade" id="editProfile" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
                <button type="button" #closeButton class="close" data-dismiss="modal" aria-label="Close"
                    style="color: white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Update Profile</h3>
                <!-- Image Upload -->
                <label class="d-flex justify-content-center preview-click">
                    <svg class="bi icon" width="28" height="28" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#pencil-square" />
                    </svg>
                    <input type="button" (click)="chooseimage.click()">
                    <img class="preview" [src]="croppedImage" />
                </label>
                <input type="file" accept="image/*" (change)="fileChangeEvent($event)" #chooseimage
                    style="display: none;" />

                <image-cropper *ngIf="isShowCrop" class="crop-area" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
                <div class="" style="text-align: right; padding-bottom: 10px;">
                    <button type="submit" [disabled]="isDisableUploadButton" class="btn btn-success"
                        (click)="onUploadImage()">Save</button>
                </div>

                <!-- Divider -->
                <div class="dropdown-divider" style="padding: 5px;"></div>

                <form class="form" id="editForm" #editForm="ngForm" (ngSubmit)="saveEdit()">
                    <h3>Update Info</h3>
                    <!-- Username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                            placeholder="Username" name="username" [(ngModel)]="userToEdit.username">
                    </div>
                    <!-- Description -->
                    <div class="form-group">
                        <label for="description">Decription</label>
                        <textarea type="text" class="form-control" id="description" aria-describedby="descriptionHelp"
                            placeholder="Description" name="description"
                            [(ngModel)]="userToEdit.description"></textarea>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                            placeholder="Email" [(ngModel)]="userToEdit.email">
                    </div>
                    <div *ngIf="errors">
                        <label style="color: palevioletred; justify-content: right;"
                            *ngFor="let error of errors">{{error}}</label>
                    </div>
                    <div style="text-align: right;">
                        <button type="submit" form="editForm" class="btn btn-success"
                            [disabled]="isButtonEditDisable()">Save</button>
                    </div>
                </form>

                <!-- Divider -->
                <div class="dropdown-divider" style="padding: 5px;"></div>

                <form class="form" id="editPasswordForm" #editForm="ngForm" (ngSubmit)="savePasswordEdit()">
                    <h3>Change Password</h3>
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword"
                            aria-describedby="currentPasswordHelp" name="currentPassword" placeholder="Current Password"
                            [(ngModel)]="passwordToEdit.currentPassword">
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" aria-describedby="newPasswordHelp"
                            placeholder="New Password" name="newPassword" [(ngModel)]="passwordToEdit.newPassword">
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword"
                            aria-describedby="confirmPasswordHelp" placeholder="Confirm Password" name="confirmPassword"
                            [(ngModel)]="confirmPassword">
                    </div>
                    <div *ngIf="passwordErrors">
                        <label style="color: red; justify-content: right;"
                            *ngFor="let error of passwordErrors">{{error}}</label>
                    </div>

                    <div style="text-align: right;">
                        <button type="submit" form="editPasswordForm" class="btn btn-success"
                            [disabled]="isButtonPasswordEditDisable()">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <label for="" style="color: green;">{{completeMessage}}</label>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>

    </div>
</div>