<label class="block-check">
  <div class="card">
    <img src="{{game.imageUrl}}" class="card-img-top" alt="...">
    <input type="checkbox" value="" id="{{game.name}}" (change)="select()">
    <span class="checkmark"></span>
    <div class="card-body">
      <span class="d-inline-block text-truncate gamename">
        {{game.name}}
      </span>
      <br>
      <!-- <div class="text-truncate gamename" style="max-width: 150px;">
        <span class="badge badge-secondary">FPS</span>
        <span class="badge badge-secondary">FPS</span>
        <span class="badge badge-secondary">FPS</span>
        <span class="badge badge-secondary">FPS</span>
        <span class="badge badge-secondary">FPS</span>
        <span class="badge badge-secondary">FPS</span>
      </div> -->
    </div>
  </div>
</label>