<form action="" (ngSubmit)="onCreatePost()">
    <div class="card mt-3">
        <div class="card-body">
            <div class="post">
                <img class="round" src="{{user?.imageUrl}}" alt="">
                <textarea class="form-control" placeholder="Write a post here." name="content"
                    [(ngModel)]="content"></textarea>
            </div>
            <div style="text-align: center;">
                <img id="preview" alt="">
            </div>
            <!-- Divider -->
            <div class="dropdown-divider"></div>

            <div class="d-flex justify-content-between">
                <div class="" style="padding: 0;">
                    <input type="file" accept="image/*" (change)="onSelectFile($event)" style="display: none;"
                        #chooseimage />

                    <a href="#" (click)="chooseimage.click()" style="color: white; padding-right: 10px;">
                        <svg class="bi icon" width="30" height="30" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#image" />
                        </svg>
                    </a>
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdown_coins"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="initialGame()">
                        <span *ngIf="!selectedGame">Choose a game...</span>
                        <span class="d-inline-flex text-truncate">{{selectedGame?.name}}</span>
                    </button>
                    <div id="menu" class="dropdown-menu p-0">
                        <div class="header-search p-1 mt-0 sticky-top">
                            <form class="px-4 py-2">
                                <input type="search" class="form-control form-control-sm" id="searchGame"
                                    placeholder="Search..." autocomplete="off" autofocus="autofocus"
                                    (keyup)="searchGame()" (click)="searchGame()">
                            </form>
                        </div>

                        <div id="menuItems"></div>
                        <div id="empty" *ngIf="isNoGameFound" class="dropdown-header">No games found</div>
                        <button type="button" class="dropdown-item" type="button" *ngFor="let game of games"
                            (click)="onSelectGame(game)">
                            <img class="game-image mr-1" src="{{game.imageUrl}}" alt="">
                            <span class="d-inline-flex text-truncate">{{game.name}}</span>
                        </button>
                        <div *ngIf="isGameLoading && !isNoGameFound" class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="text-align: right;">
                    <button *ngIf="selectedFile" type="button" class="btn btn-danger" (click)="removeFile()"
                        style="margin-right: 10px;">Remove Photo</button>
                    <button *ngIf="!isLoading" type="submit" class="btn btn-primary"
                        [disabled]="isDisabledButton()">Post</button>
                    <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
                        Posting...
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</form>