img {
    border-radius: 50%;
    width: 45px;
}

.form-group input {
    resize: none;
    height: 35px;
    border: none;
    background-color: #585960;
    color: white;
}

.form-group input::placeholder {
    color: rgb(189, 189, 189);
}

.form-group input:active,input:hover,input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.modal-header {
    border-color: #585960;
}

.modal-content {
    background-color: #363738;
    color: white;
}

.modal-footer {
    border-top: none;
}